div.card {
    max-width: 540px;
}

div.card .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img#img-product{
    width: 90%;
    height: 90%;
    margin: auto;
}

div.card div.wrap  {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.wrap > p {
    margin: unset;
}
